@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: 'Bebas Neue', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* font-family: 'Anton', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/* font-family: 'Kaushan Script', cursive; */

:root{
    --color-background: #1A1423;
    --color-primary: #AB8476;
    --color-secondary: #fbfbfb;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background);
    color: var(--color-secondary);
    display: flex;
    width: 100%;
}

.logo{
    font-size:1.5rem;
    margin: .5rem;
}

.navLinks ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navLinks ul li{
    list-style: none;
}

.navLinks ul li a{
    text-decoration: none;
    display: block;
    color: var(--color-secondary);
    padding: 1rem;
}

.navLinks li a:hover{
    color: var(--color-primary);
}

.toggle{
    position: absolute;
    right: .5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}


/* Media queries */

@media only screen and (max-width: 600px){
    .toggle{
        display: flex;
    }
    .navLinks{
        display: none;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navLinks ul{
        width: 100%;
        flex-direction: column;
    }

    .navLinks li {
        text-align: center;
    }

    .navLinks.active{
        display: flex;
    }
} 