@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: 'Bebas Neue', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* font-family: 'Anton', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/* font-family: 'Kaushan Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
/* font-family: 'Padauk', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
/* font-family: 'Comfortaa', cursive; */

:root {
    --color-background: #F4C752;
    --color-primary: #E44C4A;
    --color-secondary: #000;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
}

.fixedBar {
    position: sticky;
}

.logo {
    font-size: 1.5rem;
    font-family: 'Kaushan Script', cursive;
    margin: .5rem;
    font-weight: bold;
    text-align: center;
    background-color: var(--color-background);
}

.vl{
    position: absolute;
    border-left: 1px solid var(--color-secondary);
    height: 100vh;
    top: 0;
    margin: 20px 0 20px 50px;
}

.stamp{
    position: absolute;
    top: 0;
    left: 0;
    margin: 2px 0 0 2px;;
}

.stamp img{
    height: 45px;
    width: 100%;
}

.sideText{
    position: absolute;
    top: 500px;
    left: -3%;
    font-size: 15px;
    font-weight: bold;
    transform: rotate(-90deg);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-background);
    color: var(--color-secondary);
    display: flex;
    width: 100%;
}

.navLinks ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navLinks ul li {
    list-style: none;
}

.navLinks ul li a {
    text-decoration: none;
    display: block;
    font-family: 'Anton', sans-serif;
    font-size: 1.2rem;
    color: var(--color-secondary);
    padding: 1rem;
}

.navLinks li a:hover {
    color: var(--color-primary);
}

.toggle {
    position: absolute;
    right: .5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
}

.home {
    position: absolute;
    background-color: var(--background-color);
    height: 100vh;
}

.news{
    position: relative;
    top: 40%;
    left: 20%;
}

.news img:first-child{
    height: 300px;
    width: auto;
}

.newsText{
    position: relative;
    left: 90%;
    top: 200px;
}

.newsText h1{
    font-family: 'Comfortaa', cursive;
    font-size: 100px;
    font-weight: lighter;
}

/* .hero h2{
    position: absolute;
    left: 0;
    bottom: 0;
    padding:0 0 5px 5px;
    font-size: 3em;
    width: 10%;
}



.main{
    height: 100vh;
    background-image: linear-gradient(90deg, #fbfbfb 50%, rgb(231, 235, 1) 50%);
}

.main h2{
    font-size: 10rem;
    position: relative;
}

.main h2:first-child{
    font-size: 6rem;
    top: 40%;
    left: 40%;
    transform: translateX(-50%);
    font-family: 'Bebas Neue', cursive;
}

.main h2:last-child{
    left: 50%;
    top: 30%;
    font-family: 'Kaushan Script', cursive;
}

.social{
    display: inline-block;
    position: relative;
    left: 75%;
    font-size: 25px;
    cursor: pointer;
}
.social i:hover{
    color: var(--color-secondary);
} */




/* Media queries */

@media only screen and (max-width: 600px) {
    .toggle {
        display: flex;
    }

    .navLinks {
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navLinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navLinks li {
        text-align: center;
    }

    .navLinks.active {
        display: flex;
    }
}